<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<div th:fragment="header">
		<div align="center">
			<h1>Welcome to our CST-339 Milestone Web Application</h1>
		</div>
		
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">GCU</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
				</li>
				<li th:if="${username == null}" class="nav-item">
					<a class="nav-link" href="/login">Login</a>
				</li>
				<li th:if="${username != null}" class="nav-item">
					<a class="nav-link" href="#" th:text="${username}">Welcome</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/register">Register</a>
				</li>
			</ul>
		</div>
	</nav>

	<div th:fragment="footer">
		<h5 style="color:purple; text-align:center; position:fixed; bottom:0; width:100%;">Copyright 2024 Grand Canyon University</h5>
	</div>
</html>